<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866349969347-031fu9pejvthbpc3a4ofjakqfe9g9m2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866349969347-031fu9pejvthbpc3a4ofjakqfe9g9m2l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>866349969347-121a1e30ibvlg92cdgvbur5s5jj70amt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChhwwEr9QhOnIEVtfUOsJD3Do5ITr3_NE</string>
	<key>GCM_SENDER_ID</key>
	<string>866349969347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>moviedb-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>moviedb-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866349969347:ios:e5db449b0b447871a45776</string>
</dict>
</plist>